#icon {

	height: auto;
	width: auto;
	max-width: 200px;
	max-height: 210px;
	border-radius: 50px;
	margin: 20px 10px 10px 20px;
	float: left;
}

#links {
	list-style-type: none;
	float: right;
	padding-right: 80px;
	border-bottom: solid;
	border-width: 1px;
	display: inline-block;

}

#nav {
	position: fixed;
}


.fa {
	font-size: 25px;
	text-decoration: none;

}

a {
	color: black;
}

a:visited {
	text-decoration: none;
}

a:hover {
	color: #ff66ff;
}

.nav ul li {
	display: inline-block;
	padding: 65px;
}

.sidebar ul li {
	list-style: none;
	clear: left;
	font-size: 25px;
	padding-left: 20px;
	font-family: Helvetica, Arial, Sans-Serif;
	text-transform: uppercase;
}


.sidebar ul li a {
	text-decoration: none;
	font-weight: bold;
}


.sidebar ul li:first-child {
	padding-top: 30px;

